#profile{
    background: rgb(111,73,128);
    background: linear-gradient(90deg, rgba(111,73,128,1) 0%, rgba(121,88,166,1) 32%, rgba(207,162,221,1) 65%, rgba(247,218,255,1) 100%);
}
body {
    position: relative;
}
.avatar {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite, appear 1s ease-in;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.slideleft.visible {
    opacity: 1;
    animation: slideinleft 2s ease-in-out;
}

.slideright.visible {
    opacity: 1;
    animation: slideinright 2s ease-in-out;
}

.slideleft {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}
.slideright {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}
@keyframes slideinleft {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideinright {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

.titles {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}
.titles.visible{
    opacity: 1;
}

.arrow {
    opacity: 1;
    transition: opacity 1000ms ease-in;
    animation: float 6s ease-in-out infinite;
}
.arrow.visible{
    opacity: 0;
}
.arrow.show{
    opacity: 1;
}

